<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"

    <title>{% block title %} {% endblock %}</title>



    {% block css %}



    {% endblock %}


</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a  style="font-family: 'Times New Roman', Times, serif;" class="navbar-brand" href="/">P-CoDER</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% block homeactive %}{% endblock %}">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item {% block aboutactive %}{% endblock %}">
                    <a class="nav-link" href="/about">About</a>
                </li>

                <li class="nav-item {% block blogactive %}{% endblock %}">
                    <a class="nav-link" href="/blog/">Blog</a>
                </li>

                <li class="nav-item {% block contactactive %}{% endblock %}">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
            <form method='get' action='/search' class="form-inline mx-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query"
                    id="query">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

            {% if user.is_authenticated %}


            <div class="dropdown">
                <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{request.user}}
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="/logout/">Logout</a>
                    <a class="dropdown-item" href="#">Profile</a>
                </div>

            </div>



            {% else %}

            <!-- Button trigger modal Login -->
            <button type="button" class="btn btn-success mr-2" data-toggle="modal" data-target="#LoginModal">
                Login
            </button>

            <!-- Button trigger modal SingUp -->
            <button type="button" class="btn btn-success mr-2" data-toggle="modal" data-target="#SingUpModal">
                SingUp
            </button>

            {% endif%}


        </div>
    </nav>


    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Messages : </strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}


    <!--  SingUp Modal  -->
    <div class="modal fade" id="SingUpModal" tabindex="-1" role="dialog" aria-labelledby="SingUpModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="SingUpModaltile">Sing Up Here</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/singup/"> {% csrf_token %}

                        <div class="form-group">
                            <label for="username">Enter Your User Name</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="UserName"
                                required>
                        </div>

                        <div class="form-group">
                            <label for="fname">Enter Your First Name</label>
                            <input type="text" class="form-control" id="fname" name="fname" placeholder="First Name"
                                required>
                        </div>

                        <div class="form-group">
                            <label for="lname">Enter Your Last Name</label>
                            <input type="text" class="form-control" id="lname" name="lname" placeholder="Last Name"
                                required>
                        </div>


                        <div class="form-group">
                            <label for="email">Your Email address</label>
                            <input type="email" class="form-control" id="email" name="email"
                                aria-describedby="emailHelp" placeholder="Enter email" required>
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>

                        <div class="form-group">
                            <label for="pass1"> Choose Your Password</label>
                            <input type="password" class="form-control" id="pass1" name="pass1"
                                placeholder=" Choose Your Password" required>
                        </div>

                        <div class="form-group">
                            <label for="pass2">Confrim Password</label>
                            <input type="password" class="form-control" id="pass2" name="pass2"
                                placeholder=" Confrim Password" required>
                        </div>

                        <button type="submit" class="btn btn-dark">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--  Login Modal  -->
    <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="LoginModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="LoginModaltitle">Login Here</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/login/"> {% csrf_token %}

                        <div class="form-group">
                            <label for="username">Your UserName</label>
                            <input type="text" class="form-control" id="username" name="username"
                                placeholder="UserName">
                        </div>


                        <div class="form-group">
                            <label for="pass">Enter Your Password</label>
                            <input type="password" class="form-control" id="pass" name="pass"
                                placeholder="Enter Your Password">
                        </div>

                        <button type="submit" class="btn btn-dark">Login</button>
                    </form>
                 
                </div>
            </div>
        </div>
    </div>




    {% block body %}

    {% endblock %}


    <footer class="container footer ">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">© 2020-2021 P-CODER <a href="#">Privacy</a> · <a href="#">Terms</a></p>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>



    {% block js %}

    {% endblock %}
</body>

</html>